*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Lato", sans-serif;
  font-size: 14;

}

.bg-blue{
  background-color: #A8C8FB;
}

.headerWrapper .top-strip
{
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header{
  width: 100%;
  height: auto;
  padding: 15px 0px;
}

.logoWrapper img{
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop{
  
  width: 180px;
  height: 60px;
  min-width: 180px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  padding: 10px 20px !important;
}

.headerWrapper .header .part2 .countryDrop{
  text-align: left;
  justify-content: space-between;
}
.countryDrop .info  .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
  line-height: 25px;
}

.countryDrop .info .country-name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color:#233a95 !important;
  font-weight: 700;
  line-height: 16px;

}

.countryDrop .info span.ml-auto sgv{
  opacity: 0.7;
}
.headerWrapper .header .searchBox {
  margin-left: 20px;
  position: relative;
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headerWrapper .header .searchBox input {
  background: transparent !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 40px;
  border: none;
  padding: 0 20px;
}

.headerWrapper .header .searchBox button {
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
  background-color: transparent;
  margin-left: 10px; 
  cursor: pointer;
}
.headerWrapper .header .part3 {
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  gap: 15px; 
}

.headerWrapper .header .part3 .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}

.headerWrapper .header .part3 .circle svg {
  font-size: 20px;
}

.headerWrapper .header .part3 .cartTab {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.headerWrapper .header .part3 .price {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.cartTab button{
  background: #fff1ee;

}
.cartTab button svg{
  color: #ea2b0f;

}

.cartTab .count{
  position: absolute;
  top: 0;
  right:0;
  width: 20px;
  height: 20px;
  background: #ea2b0f;
  border-radius: 50%;
  color:#fff;
}