* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");

body {
  font-family: "Lato", sans-serif;
  font-size: 14;

}


@media (max-width: 1300px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

.cursor {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

li {
  list-style: none !important;
}

img {
  width: 100%;
}

.bg-blue {
  background-color: #A8C8FB;
}

.headerWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;

}

.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.logoWrapper img {
  width: 100%;
}

.header .part2 .countryDrop {
  margin-right: 20px;
  width: 180px;
  height: 60px;
  min-width: 180px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  padding: 10px 20px !important;
}

.header .part2 .countryDrop {
  text-align: left;
  justify-content: space-between;
}

.countryDrop .info .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
  line-height: 25px;
}

.countryDrop .info .country-name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;

}

.countryDrop .info span.ml-auto sgv {
  opacity: 0.7;
}

.locationDialog .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}

.locationDialog .CountryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 0;
}

.locationDialog .CountryList li {
  width: 100%;
  margin-top: 5px;
}

.locationDialog .CountryList li button {
  width: 100%;
  text-transform: capitalize;
  color: #000;
  justify-content: flex-start;
  padding: 10px 20px;
}

.locationDialog .CountryList li button:hover {
  background: #f1f1f1 !important;
}

.locationDialog .CountryList li button.active {
  background: #e2e2e2 !important;
}

.closeBtn {
  position: absolute !important;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #000 !important;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
}

.closeBtn svg {
  font-size: 20px;
}

.searchBox {
  position: relative;
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.searchBox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.searchBox input {
  background: transparent !important;
  outline: none !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.);
  width: 100%;
  height: 40px;
  border: none;
  padding: 0 20px;
}

.searchBox button {
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
  background-color: transparent;
  margin-left: 10px;
  cursor: pointer;
}

.searchBox button svg {
  font-size: 20px;
  opacity: 0.8;
}

.headerWrapper .header .part3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-left: 20px;
}

.part3 .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}

.headerWrapper .header .part3 .circle svg {
  font-size: 20px;
}

.headerWrapper .header .part3 .cartTab {
  display: flex;
  align-items: center;
  gap: 15px;
}

.headerWrapper .header .part3 .price {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.cartTab button {
  background: #fff1ee;

}

.cartTab button svg {
  color: #ea2b0f;

}

.cartTab .count {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
}

nav .navPart1 {
  max-width: 20%;
}

nav .navPart1 .catWrapper {
  position: relative;
}

nav .navPart1 .catWrapper .slidebar {
  min-width: 304px;
  width: 100%;
  height: 362px;
  background: #fff;
  position: absolute;
  top: 132%;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;

  display: block;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  z-index: 100;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

nav .navPart1 .catWrapper .slidebar.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

nav .navPart1 .catWrapper .slidebar .catagory1 {
  padding-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav .navPart1 .catWrapper .slidebar .catagory2 {
  padding-left: 0;
}

nav .navPart1 .catWrapper .slidebar ul li {
  width: 100%;
  list-style: none;
  position: static;
}

nav .navPart1 .catWrapper .slidebar ul li .subMenu {
  position: absolute;
  top: 0;
  left: 100%;
  height: 361px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15 cubic-bezier(0.28, 0.12, 0.22, 1);
  justify-content: flex-start;
  width: 100%;
  font-size: 14px;
  color: var(--color-text-light);
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  border-top: 1px solid transparent !important;
}

nav .navPart1 .catWrapper .slidebar ul li:hover .subMenu {
  opacity: 1;
  visibility: inherit;
}

nav .navPart1 .catWrapper .slidebar ul li.nav-item {
  align-items: center;
}

nav .navPart1 .catWrapper .slidebar ul li svg {
  font-size: 16px;
  margin-right: 7px;

}

nav .navPart1 .catWrapper .slidebar ul li button {
  color: #76787e;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize;
  font-size: 14px;
  padding-top: .4375rem;
  padding-bottom: .4375rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  font-weight: 400;
  align-items: center;
}

nav .navPart1 .catWrapper .slidebar ul li button:hover {
  background: #fff !important;
  color: #2bbef9;
}

nav .navPart2 {
  max-width: 80%;
  justify-content: space-around;
}

nav .allCartTab {
  background: #2bbef9;
  border-radius: 30px;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 15px !important;
}

nav .navPart2 .list {
  display: flex;
  align-items: center;
}

nav .allCartTab * {
  color: #fff;
}


nav .allCartTab .text {
  font-weight: 600;
}

.allCartTab .icon1,
.allCartTab .icon2,
.allCartTab .text {
  display: flex;
  align-items: center;
  height: 100%;
}

nav .allCartTab .icon1 svg {
  font-size: 20px;
}

nav .allCartTab .icon2 svg {
  font-size: 16px;
}

nav .navPart2 ul {
  margin-bottom: 0px;

}

nav .navPart2 ul li a {
  text-decoration: none;
}

nav .navPart2 ul li a button {
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
  padding: 8px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  display: flex;
  line-height: 40px;
  text-indent: 0;
}

nav .navPart2 ul li a svg {
  font-size: 19px;
}

nav .navPart2 ul li {
  position: relative;
}

nav .navPart2 ul li .subMenu {
  position: absolute;
  top: 150%;
  left: 0;
  min-width: 300px;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

nav .navPart2 ul li .subMenu a {
  display: block;
  width: 100%;
}

nav .navPart2 ul li .subMenu a button {
  padding: 10px 20px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 500;
  justify-content: flex-start;
  width: 100%;
}

nav .navPart2 ul li:hover .subMenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

nav .navPart2 ul li .subMenu a button:hover {
  background: #f1f1f1
}

.banner-container {
  max-width: 1200px;
  min-height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.homeBanner {
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 870px;
  min-height: auto;
  margin-left: 1px;
}

.homeBanner .homeBannerSlider {
  width: 97%;
}

.left-homebanner {
  width: 20%;
}



.homeBanner .item {

  flex: 0 0 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 345px;
  /* Đảm bảo chiều cao đồng nhất */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  overflow: hidden;
  /* Ngăn ảnh bị tràn */
}

.homeBanner .item img {
  width: 100%;
  height: 100%;
}

.homeBanner .slick-prev,
.homeBanner .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 60px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.homeBanner .slick-prev {
  left: -10px;
}

.homeBanner .slick-next {
  right: -10px;
}

.homeBanner .slick-dots {
  bottom: 10px;
}

.homeBanner .slick-dots li button:before {
  font-size: 12px;
  color: white;
}

.homeProduct {
  padding: 25px 0;
  width: 100%;
}

.homeProduct .banner img {
  border-radius: 9px;
  width: 100%;
  overflow: hidden;
}

.homeProduct .entry-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.homeProduct .entry-title .entry-description {
  color: #9b9bb4;
  font-size: .75rem;
  text-transform: none;
}

.homeProduct .view-all {
  margin-left: auto;
}

.homeProduct .view-allBtn {
  padding: 8px 15px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #9b9bb4;
  border-radius: 30px;
  font-size: .75rem;

}

.homeProduct .view-allBtn svg {
  font-size: 25px;
}

.productItem {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.0s ease-in-out, 0.3s ease-in-out;

}

.productItem:hover {
  border-radius: 10px;

}

.product_2 .productItem:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  background: #fff;
  z-index: 100 !important;
}

.productItem .badge {
  display: inline-flex;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100 !important;
  background-color: #2bbef9 !important;
  color: white !important;
  text-transform: uppercase;
  max-height: 1.5rem;
  padding: .375rem .75rem;
  align-items: center;
}

.productItem .actions {
  position: absolute;
  top: 20px;
  right: -50px;
  /* Đặt vị trí ban đầu ở ngoài phần tử */
  gap: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  /* Ẩn đi */
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  /* Mượt hơn */
  z-index: 100;

}

.productItem .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px;
  width: 40px;
  border: 1px solid #edeef5;
  border-radius: 50% !important;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.0s !important;

}

.productItem .actions button svg {
  color: #3e445a;
  font-size: 15px;
}

.productItem .actions button:hover {
  background: #233a95;
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.productItem .actions button:hover svg {
  color: #fff;
}

.productItem .imgWrapper {
  overflow: hidden;
  position: relative;
}

.productItem .imgWrapper:hover .actions {
  opacity: 1;
  right: 10px;
}

.productItem .imgWrapper:hover img {
  transform: scale(1.1);
}

.productItem .productImg {
  padding: 1.25rem;
}

.productItem .product-content {
  padding: 0 1.25rem 1.25rem;

}

.productItem .product-content a {
  text-decoration: none !important;
  color: inherit;
  /* Giữ nguyên màu chữ */
}

.productItem .product-content .product-title {
  font-size: .999rem;
  font-weight: 500;
  line-height: 1.4;
  color: #202435;
  margin-bottom: 10px;
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}

.productItem .product-content .product-title:hover {
  color: #233A95;
}

.productItem .product-content .text-sussess {
  color: #17BE63;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7875rem;
  margin-bottom: 10px;
}

.productItem .product-content .product-price {
  align-items: center;
}

.old-price {
  font-size: 16px;
  font-weight: bold;
  color: #c2c2d3;
  text-decoration: line-through;
  font-size: 85%;

}

.new-price {
  font-size: 1.125rem;
  font-weight: bold;
  color: #D51243;
  margin-left: .3125rem;
}
.lg{
  font-size: 1.425rem !important;
}
.product_row .item {
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 30%;
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  font-size: 14px;
  background: #fff;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.custom-prev {
  left: -1.25rem;
}

.custom-next {
  right: -1.25rem;
}

.product_2 {
  flex-wrap: wrap;
}

.product_2 .productItem {
  width: 25%;
}

.newsLetterSection {
  width: 100%;
  height: 400px;
  background: #233a95;
  overflow: hidden;
}

.newsLetterSection p {
  font-size: 1rem;
  font-weight: 300;
}

.newsLetterSection h3 {
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: .9375rem;
}

.newsLetterSection .text-light {
  color: #e4e5ee !important;
  font-size: .8125rem !important;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.5;
}

.newsLetterSection .coupon-img {
  position: relative;
}

.newsLetterSection img {
  position: absolute;
  bottom: -100%;
  right: 0px;
}

.newsLetterSection form {
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 10px;
  position: relative;
  border-radius: 5px;
}

.newsLetterSection form svg {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 25px;
}

.newsLetterSection form input {
  width: 100%;
  height: 100%;
  background: #fff !important;
  outline: none !important;
  padding-left: 40px;
  padding-right: 200px;
  border: none;
}

.newsLetterSection form button {
  position: absolute;
  top: 5px;
  right: 3px;
  background: #233a95 !important;
  font-size: 14px !important;
  padding: 13px 25px !important;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
}

footer {
  width: 100%;
  height: auto;
  margin: auto;
  background: #fff;
  padding: 20px 0;
}

footer .topInfo {
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
  border-bottom: 1PX solid rgba(0, 0, 0, 0.1);
}

footer .topInfo svg {
  margin-right: 10px;
  font-size: 1.375rem;
}

footer .topInfo .icon-detail {
  font-size: .8125rem;
  font-weight: 500;
}

footer .icon-container {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

footer .linkwarp h5 {
  font-size: .9375rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  color: #202435;
}

footer .linkwarp ul {
  padding: 0;
}

footer .linkwarp ul li {
  list-style: none;
  text-transform: none;
  margin-top: .5rem;
}

footer .linkwarp ul li a {
  color: #71778e;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;

}

footer .linkwarp {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

footer .social-container ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

footer .social-container ul li a svg {
  font-size: 16px;
  color: #233A95;

}

footer .social-container .social-icon {
  margin-left: auto;

}

footer .copy-right {
  font-size: .75rem;
  margin: 0;
  letter-spacing: -.1px;
  line-height: 1.5;
}

.productModal .MuiPaper-elevation {
  position: relative;
  max-width: 1000px !important;
  width: 1000px !important;
}


.quickview-product {
  padding: 2.5rem
}

.quickview-product h4 {
  font-weight: bold;
  font-size: 22px;
}

.quickview-product .quickview-product-wrapper {
  padding: 20px ;
}

.product-meta {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: .85rem;
  gap: 10px;
  font-weight: 500;
  align-items: center;
}

.productModal .quickview-product .product-meta .product-brand {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 20px;
}

.productModal .quickview-product .product-meta .brand {
  color: rgba(0, 0, 0, 0.7);
}

.productModal .quickview-product .product-meta .brand-name {
  margin-left: 5px;
  font-size: 13px;
}

.productZoom {
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
  border-radius: 15px;
}
.imgPro-quickview{
  padding: 20px 20px;
}
.zoomSliderBig {
  width: 100% !important;
}
.zoomSliderBig .item{padding: 15px;}
.zoomSlider{padding-top: 30px;}
.zoomSlider .slick-slide{padding-right: 20px !important;}
.zoomSlider *{outline: none !important;}
.zoomSlider .item{
  overflow: hidden;
  cursor: pointer;
}
.zoomSlider .slick-current .item{
  border: 2px solid #3bb77e !important;
  border-radius: 5px;
}
.zoomSlider .slick-arrow{top:55% !important; zoom: 80% !important;}
.zoomSlider .slick-arrow.slick-next{right: -2% !important;}
.zoomSlider .slick-arrow.slick-prev{left: -2% !important;}
.iiz__btn  {
  display: none !important;
}
.pr
.badge.bg-success{
  background: #E5F8ed !important;
  color: #16B858 !important;
  font-weight: 600;
  border-radius: 1.875rem;
  padding: 4px 10PX;
  text-transform: uppercase;
  margin-top: 10PX;
}
.product-descibe p{
  color: #3e445a;
  font-size: .8125rem;
  font-weight: 400;
  margin-top: 1.25rem;
}
.btn-blue{
  background: #233A95 !important;
  color: #fff !important;
  text-transform: none !important;
  padding: 7PX 30PX !important;
  margin-left: auto !important;
}
.bg-big{
  font-size: 15px !important;
}
.btn-round{
  border-radius: 30px !important;
}
.quantityDrop{
  width: 150px;
  gap: 10px;
}
.quantityDrop button{
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #edeef5;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}
.quantityDrop button svg{
  color: #000 !important;
}
.quantityDrop input {
  width: 80px;
  height: 30px;  
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  outline: none;
  border-radius: 5px;
  text-align: center;  
  font-size: 16px;
}
.addtoFav {
  margin-top: 20px;

}
.addtoFav button{
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.addtoFav button svg{
  font-size: 14px;
  margin-right: 5px;
}